{% extends 'common.html' %}
{% block suresh %}
    <table align="center" border="2">
    <tr><th colspan="3" style="color: orangered;text-align: center">View Test</th></tr>
    <tr>
        <th>Test No</th>
        <th>Test Name</th>
        <th>Delete</th>
    </tr>
    {% for x in data %}
        <tr>
        <th>{{ x.Test_No }}</th>
        <th>{{ x.Test_name }}</th>
            <th><a href="{% url 'delt' %}?no={{ x.Test_No }}"> Delete</a></th>
        </tr>
    {% endfor %}
    </table>
{% endblock %}